<div class="modal-header">
    <h6 class="modal-title" id="modal-title-notification"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Se requiere tu atención.</font></font></h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">×</font></font></span>
    </button>
</div>
<div class="modal-body">
    <div class="py-3 text-center">
        <i class="fas fa-bell" style="font-size:48px"></i>
        <h4 class="heading mt-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Deberías leer esto!</font></font></h4>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un pequeño río llamado Duden fluye por su lugar y lo suministra con los regelialia necesarios.</font></font></p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light"><font><font style="vertical-align: inherit;">Ok lo tengo</font></font></button>
    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cerrar</font></font></button>
</div>