
.f-w-b {
    font-weight: bold;
}

.w-100 {
    width: 100%;
}

.t-r {
    text-align: right;
}

.t-c {
    text-align: center;
}

.t-l {
    text-align: left;
}

.f-s-12 {
    font-size: 12px;
}

.f-s-11 {
    font-size: 11px;
}

.f-s-10 {
    font-size: 10px;
}

.f-s-13 {
    font-size: 13px;
}

.f-s-14 {
    font-size: 14px;
}

.f-s-15 {
    font-size: 15px;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-19 {
    font-size: 19px;
}
