
/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
@media only screen and (min-width: 1170px) {
    .cd-is-hidden {
        visibility: hidden;
    }
}

/* -------------------------------- 

Vertical Timeline - by CodyHouse.co

-------------------------------- */
header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #303e49;
}

    header h1 {
        color: white;
        font-size: 1.8rem;
    }

@media only screen and (min-width: 1170px) {
    header {
        height: 300px;
        line-height: 300px;
    }

        header h1 {
            font-size: 2.4rem;
        }
}

.cd-timeline {
    overflow: hidden;
    margin: 2em auto;
}

.cd-timeline__container {
    position: relative;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2em 0;
}

    .cd-timeline__container::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 1px;
        background: #277ad8;
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .cd-timeline__container::before {
        /*left: 50%;*/
        margin-left: -5px;
    }
}

.cd-timeline__block {
    position: relative;
    margin: 2em 0;
}

    .cd-timeline__block:after {
        /* clearfix */
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline__block:first-child {
        margin-top: 0;
    }

    .cd-timeline__block:last-child {
        margin-bottom: 0;
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline__block {
        margin: 4em 0;
    }
}

.cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #D3DCE4;
    background: #F6FBFF;
    text-align: center;
    border-radius: 50%;
    /*-webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);*/
}

    .cd-timeline__img svg {
        vertical-align: middle !important;
    }

    .cd-timeline__img img {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }

    .cd-timeline__img.cd-timeline__img--picture {
        /*background: #75ce66;*/
    }

    .cd-timeline__img.cd-timeline__img--movie {
        /*background: #c03b44;*/
    }

    .cd-timeline__img.cd-timeline__img--location {
        /*background: #f0ca45;*/
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline__img {
        width: 25px;
        height: 25px;
        /*left: 50%;
        margin-left: -30px;*/
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

        .cd-timeline__img.cd-timeline__img--bounce-in {
            visibility: visible;
            -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
        }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline__content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 10px 20px;
    border: 1px solid #EEE;
    background: #fff;
    border-radius: 6px;
    margin-top: -15px;
}

    .cd-timeline__content .arrow {
        top: 15px;
        left: -11px;
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent #f3f3f3 transparent transparent;
        border-style: solid;
        border-width: 11px 11px 11px 0;
    }

        .cd-timeline__content .arrow:after {
            position: absolute;
            display: block;
            widows: 0;
            height: 0;
            border-color: transparent #fff transparent transparent;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            content: " ";
            left: 1px;
            bottom: -10px;
        }

    .cd-timeline__content:after {
        /* clearfix */
        content: "";
        display: table;
        clear: both;
    }

    /*.cd-timeline__content::before {         
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid white;
    }*/

    .cd-timeline__content h2 {
        color: #303e49;
    }

    /*.cd-timeline__content p,
    .cd-timeline__read-more,
    .cd-timeline__date {
        font-size: 1.3rem;
    }*/

    .cd-timeline__content p {
        margin-bottom: 10px;
    }

.cd-timeline__read-more,
.cd-timeline__date {
    display: inline-block;
}

.cd-timeline__read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}

    .cd-timeline__read-more:hover {
        background-color: #bac4cb;
    }

.cd-timeline__date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

@media only screen and (min-width: 768px) {
    .cd-timeline__content h2 {
        font-size: 2rem;
    }

    /*.cd-timeline__content p {
        font-size: 1.6rem;
    }*/

    /*.cd-timeline__read-more,
    .cd-timeline__date {
        font-size: 1.4rem;
    }*/
}

@media only screen and (min-width: 1170px) {
    .cd-timeline__content {
        margin-left: 0;
        padding: 10px 20px;
        width: 89%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    /*.cd-timeline__content::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: white;
        }*/

    .cd-timeline__read-more {
        float: left;
    }

    .cd-timeline__date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 1.6rem;
    }

    .cd-timeline__content {
        float: right;
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
        float: right;
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .cd-timeline__content.cd-timeline__content--bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.cd-timeline__content.js-cd-content small {
    font-size: 12px;
}
