<table class="table w-100 table-striped table-hover table-bordered dt-responsive nowrap" id="tablaOrdenes">
    <thead>
        <tr>
            <th>
                COD
            </th>
            <th>
                <span class="t-e-a" title="Fecha Ingreso">
                    <span class="t-e-b">
                        Estado
                    </span>
                </span>
            </th>
            <th>
                <span class="t-e-a" title="Fecha Ingreso">
                    <span class="t-e-b">
                        Fecha Ingreso
                    </span>
                </span>
            </th>
            <th>
                <span class="t-e-a" title="Fecha Diseño">
                    <span class="t-e-b">
                        Fecha Diseño
                    </span>
                </span>
            </th>
            <th>
                <span class="t-e-a" title="Fecha Entrega">
                    <span class="t-e-b">
                        Fecha Entrega
                    </span>
                </span>
            </th>
            <th>
                <span class="t-e-a" title="Fecha Egreso">
                    <span class="t-e-b">
                        Fecha Egreso
                    </span>
                </span>
            </th>
            <th>
                Doctor
            </th>
            <th>
                Cliente
            </th>
            <th>
                Producto
            </th>
            @*<th>
                    Color
                </th>*@
            <th>
                Cantidad
            </th>
            <th>
                Total
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
</table>

